// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Row 1*/
  /*user's name*/
  .name p {
    margin-top: 10px;
    text-align: center;
  }
  /*status & weight check-in column*/
  .first .row {
    margin-top: 70px
  }
  /*status statement*/
  .status {
    text-align: center;
    font-size: 40px;
  }
  /*large button*/
  .weight-check-btn {
    width: 100%;
    text-align: center;
  }
  .btn.weight-check-btn {
    width: 50%;
    color: #E9E9C6;
    background-color: #886C30;
  }
/*Row 2*/
  /*post text*/
  .post {
    margin-top: 25px;
    margin-right: 0px;
    border: #886C30 solid 1px;
    outline: #886C30 solid 2px;
    margin-top: 5px;
  }
  .post p {
    font-size: 30px;
    text-align: center;
  }
  .row.keep-on {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
  }
  p.keep-on {
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
  }
  button.keep-on {
    color: #E9E9C6;
    background-color: #886C30;
  }
  /*post image*/
  .post-pic {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    padding: 0px;
    border: #886C30 solid 2px;
    width: 148px;
    height: 148px;
  }
  .post img {
    padding: 5px;
    height: 100%;
    width: 100%;
  }

