// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.index_user {
  width: 95%;
  height: 125px;
  background-color: white;
  box-shadow: 10px 10px 5px #888888;
  margin: 1em 0em;
  padding: .5em;
}

#index_background {
  background-image: url(http://home-improvement-review.com/wp-content/uploads/2013/11/light-wood-background-wallpaper--1785-wallpaper-palloc-wtdiok7d.jpg); 
  background-position: top center;
  width: 15.625em;
  height: 3.25em;	
  font-size: x-large;
  color: yellow;
  text-align:center;
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;	
}

body {
font-family: 'Alegreya SC', serif;	
}